.ticketSidebar {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  width: 120px;
  background-color: black;
  left: 0;
}

.ticketSidebar::-webkit-scrollbar {
  display: none;
}

.ticketSidebar button {
  width: 100%;
  height: auto !important;
  padding: 0 0;
  border: none;
  background-color: black;
  color: aliceblue;
}
